---
machine:
  type: controlplane
  certSANs:
    - 127.0.0.1
    - 192.168.1.41
  install:
    diskSelector:
      serial: 50026B73842F7F3C
  udev:
    rules:
      # Intel GPU - allow render group access to render devices
      - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="992", MODE="0660"
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: lan0
selector:
  match: mac(link.permanent_addr) == "38:05:25:35:3b:9a"
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: lan1
selector:
  match: mac(link.permanent_addr) == "38:05:25:35:3b:9b"
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: kharkiv
