---
machine:
  type: controlplane
  certSANs:
    - 127.0.0.1
    - 192.168.1.7
  install:
    diskSelector:
      serial: BTPY701113LV256D
---
apiVersion: v1alpha1
kind: RawVolumeConfig
name: rook-osd
provisioning:
  diskSelector:
    match: disk.serial == "50026B73842F7F3C"
  minSize: 400GiB
  maxSize: 500GiB
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: lan0
selector:
  match: mac(link.permanent_addr) == "6c:1f:f7:6b:4c:04"
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: lan1
selector:
  match: mac(link.permanent_addr) == "6c:1f:f7:5c:03:94"

---
apiVersion: v1alpha1
kind: BondConfig
name: lacp0
mtu: 9000
links:
  - lan0
  - lan1
bondMode: 802.3ad
lacpRate: fast
xmitHashPolicy: layer3+4
miimon: 100
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: le-havre
