---
machine:
  type: controlplane
  certSANs:
    - 127.0.0.1
    - 192.168.1.7
  install:
    diskSelector:
      # TODO(erwan): replace with Intel 600p serial once installed
      serial: INTEL-600P-SERIAL-TODO
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: lan0
selector:
  match: mac(link.permanent_addr) == "6c:1f:f7:6b:4c:04"
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: lan1
selector:
  match: mac(link.permanent_addr) == "6c:1f:f7:5c:03:94"
---
apiVersion: v1alpha1
kind: ResolverConfig
nameservers:
  - address: 192.168.1.2
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: le-havre
