---
customization:
  extraKernelArgs:
    - amd_iommu=on # PCI Passthrough
    - i915.enable_guc=3
    - intel_iommu=on # PCI Passthrough
    - iommu=pt # PCI Passthrough
    - initcall_blacklist=algif_aead_init # copy.fail fix
    - pcie_aspm=off # Disable PCIe ASPM
    - usbcore.autosuspend=-1 # Disable USB autosuspend
    - sysctl.kernel.kexec_load_disabled=1
    - talos.dashboard.disabled=1
  systemExtensions:
        officialExtensions:
            - siderolabs/amd-ucode
            - siderolabs/binfmt-misc
            - siderolabs/i915
            - siderolabs/intel-ucode
            - siderolabs/mei
            - siderolabs/nfsd
            - siderolabs/nfsrahead
            - siderolabs/util-linux-tools
            - siderolabs/xe
